**.swp
src/classes/ChangePasswordController*
src/classes/ForgotPasswordController*
src/classes/MyProfilePageController*
src/classes/SiteLoginController*
src/classes/SiteRegisterController*
src/components/Site*
src/pages/AnswersHome*
src/pages/BandwidthExceeded*
src/pages/ChangePassword*
src/pages/Exception*
src/pages/FileNotFound*
src/pages/ForgotPassword*
src/pages/IdeasHome*
src/pages/InMaintenance*
src/pages/MyProfile*
src/pages/Site*
src/pages/StdExceptionTemplate*
src/pages/Unauthorized*
src/pages/UnderConstruction*
